<p-table
  [value]="shipments"
  styleClass="p-datatable-gridlines"
  [resizableColumns]="true"
  [scrollable]="true"
  scrollHeight="800px"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Shipments
      <div>
        <p-button icon="pi pi-refresh" (onClick)="getShipmentList()" [loading]="loading" />
        <p-button
          label="Get All Data"
          class="ml-2"
          severity="success"
          (onClick)="getShipmentList(true)"
          [loading]="loading"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Shipment ID</th>
      <th pResizableColumn>Sender</th>
      <th pResizableColumn>Receiver</th>
      <th pResizableColumn>Package Name</th>
      <th pResizableColumn>Pickup Time</th>
      <th pResizableColumn>Delivery Time</th>
      <th pResizableColumn>Distance (km)</th>
      <th pResizableColumn>Price (ETH)</th>
      <th pResizableColumn>Status</th>
      <th pResizableColumn>Paid</th>
      <th pResizableColumn>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-shipment let-i="rowIndex">
    <tr>
      <td>{{ shipment.packageId }}</td>
      <td class="text-overflow-ellipsis">{{ shipment.sender }}</td>
      <td class="text-overflow-ellipsis">{{ shipment.receiver }}</td>
      <td>{{ shipment.packageName }}</td>
      <td>{{ shipment.pickupTime | date: 'medium' }}</td>
      <td>{{ shipment.deliveryTime ? (shipment.deliveryTime | date: 'medium') : 'N/A' }}</td>
      <td>{{ shipment.distance }}</td>
      <td>{{ shipment.price }}</td>
      <td>
        <p-tag [value]="shipment.status" [severity]="getStatusSeverity(shipment.status)"></p-tag>
      </td>
      <td>
        <p-tag
          [value]="shipment.isPaid ? 'Yes' : 'No'"
          [severity]="getPaidSeverity(shipment.isPaid)"
        ></p-tag>
      </td>
      <td>
        <ng-container *ngIf="shipment.status === 'Pending'">
          <p-button
            label="Start"
            icon="pi pi-play"
            (onClick)="startShipment(shipment.packageId)"
            class="p-button-success p-button-sm"
            [disabled]="loading"
          ></p-button>
        </ng-container>
        <ng-container *ngIf="shipment.status === 'In Transit'">
          <p-button
            label="Complete"
            icon="pi pi-check"
            (onClick)="completeShipment(shipment.packageId)"
            class="p-button-info p-button-sm"
            [disabled]="loading"
          ></p-button>
        </ng-container>
        <ng-container *ngIf="shipment.status === 'Delivered'">
          <span class="text-2xl">🤝</span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="11" class="text-center text-xl surface-overlay">No Data Found</td>
    </tr>
  </ng-template>
</p-table>
